<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.Title ?? "Nhà sách AC")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	    SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="~/Assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="~/Assets/css/shop.css" type="text/css" rel="stylesheet" media="all">
    <!-- checkout css -->
    <link href="~/Assets/css/checkout.css" type="text/css" rel="stylesheet" media="all">

    <script src="~/Assets/js/jquery-3.1.1.min.js"></script>

    <!-- Range-slider-css -->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/jquery-ui1.css">
    <!-- common-css -->
    @*<link href="~/Assets/css/style.css" type="text/css" rel="stylesheet" media="all">*@
    <!-- font-awesome icons -->
    <link href="~/Assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- override navbar -->
    <link href="~/Assets/css/side-style.css" rel="stylesheet" />
    @*<link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Assets/css/override-navbar.css" rel="stylesheet" media="all">



    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    
    @*<script src="~/Assets/js/jquery.js" type="text/javascript"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/bootstrap-select.min.js"></script>
    <script src="~/Scripts/helper.js"></script>*@
    @*<link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">*@

    

    @Html.Partial("~/Views/MyShared/Navbar.cshtml")

    @RenderBody()
    <div id="staplesbmincart" class="minicart" hidden="hidden">
        @Html.Action("CartPartial", "Cart")
    </div>
    <script src="~/Assets/js/main1.js"></script>
    <script src="~/Assets/js/scrolling-nav.js"></script>
    <script src="~/Assets/js/bootstrap.js"></script>

    <script src="~/Assets/js/jquery.autoellipsis-1.0.10.min.js"></script>

    <!--footer start-->
    <footer class="cpy-right">
        <p style="color:white !important; font-weight:bold; text-transform:uppercase">
            Nhóm 5 | Đồ án quản lý nhà sách
        </p>
    </footer>
    <!--footer end-->

    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open')
                }
            );

            $('.product-chr-info .caption h4').ellipsis();
        });
    </script>

    <script>
        // Mở mini cart
        function onClickedCart() {
            $("#staplesbmincart").show();
        }

        //Đóng mini cart
        function onClosedCart() {
            $("#staplesbmincart").hide();
        }
        // bind event nút "x" trên cart
        function removeProduct(productID) {
            event.preventDefault();
            updateCart("delete", productID, event);
        }
        // Tăng số lượng sản phẩm
        function increaseQuantities(productID) {
            event.preventDefault();
            updateCart("add", productID, event)
        }
        //Giảm số lượng sản phẩm
        function decreaseQuantities(productID) {
            event.preventDefault();
            updateCart("minus", productID, event)
        }

        //Thêm sản phẩm vào giỏ
        function updateCart(action, productID, event) {
            event.preventDefault();
            var actionurl = ''

            switch (action) {
                case "add":
                    actionurl = '/Cart/AddProduct'
                    break;
                case "minus":
                    actionurl = '/Cart/MinusProduct'
                    break;
                case "delete":
                    actionurl = '/Cart/DeleteProduct'
                    break;
            }
            //reloadCart(productID);
            $.ajax({
                url: actionurl,
                type: 'POST',
                dataType: 'json',
                data: { "id": productID },
                success: function (data) {
                    if (!data.success) {
                        alert(data.text);
                    }
                    reloadCart();
                },
                error: function (err) {
                    document.write(err.responseText);
                }
            })
        }
        function reloadCart() {
            $.ajax({
                url: "/Cart/CartPartial",
                type: "POST",
                success: function (data) {
                    $("#staplesbmincart").html("");
                    $("#staplesbmincart").append(data);
                    onClickedCart();
                    //alert(data);
                    //$(".cart-info").append(data);
                }
            })
        }
    </script>
</body>
</html>

