<connectionStrings>
<add name="BookStoreContext" connectionString="Server=tcp:khangdbserver.database.windows.net,1433;Initial Catalog=khangdb;Persist Security Info=False;User ID=taigama;Password=Khang123;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
</connectionStrings>