fieldset>input {
    margin: 0;
    font: inherit;
    color: inherit;
    background: #F0F0E9;
    border: 0 none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300;
}


.validate {
    color: #ee4f4f
}