
#list-author li a b {
    color: #1B95E0;
}
#list-author li a b:hover{
    color:#333;
}
#list-author li a b:active{
    background-color: white;
}
#list-author li:hover .pull-right{
    color: #333;
}
.pull-right:hover #list-author li a b{
    color:#333;
}
.pull-right {
    color: #1B95E0;
}
#list-category li a b {
    color: #1B95E0;
}
#list-category li a b:hover {
    color: #1B95E0;
}
#list-category li:hover .pull-right {
    color: #333;
}
#search_box{
    border-radius:8px;
    margin-top:10px;
    padding:5px;
}