@model IEnumerable<BookStore.Models.Product>

@{
    ViewBag.Title = "Tìm kiếm sản phẩm | Nhà sách AC";
    Layout = "~/Views/Shared/_MainLayout1.cshtml";
    
}

<section>
    <div class="container" style="margin-top:150px">
        <div class="row">
           @* @Html.Partial("SideSearch")*@
            
            <div id="search_result" class="left-ads-display col-md-9">
                @Html.Partial("ItemPartial")
               
            </div>
        </div>
    </div>
</section>
<link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">
@*<link href="~/Assets/css/price-range.css" rel="stylesheet">
<script src="~/Assets/js/price-range.js" type="text/javascript"></script>*@
@*<script src="~/Assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>*@


<script>
    // gọi SearchController::Search()
    function onSearch() {
        // lấy giá trị để truyền vào parameter
        var text = $('#search_box').val();
        var author = $('#ddl_author').val();
        var category = $('#ddl_category').val();
        var costBegin = 0;//$('#ex2').val().split(',')[0];
        var costEnd = 2000000; //$('#ex2').val().split(',')[1]; //$('#cost_end').val()

        $.ajax({// lấy dữ liệu từ link này
            url: '/Search1/Search/',
            type: 'GET',
            dataType: 'text',// kiểu dữ liệu: json
            data: {
                "key": text,
                "authorId": author,
                "categoryId": category,
                "costBegin": costBegin,
                "costEnd": costEnd,
            },
            success: function (data) {// lấy dữ liệu thành công
                if (data == null) {
                    alert('Không tìm thấy');
                    return;
                }
                
                // đổ dữ liệu ra page
                $('#search_result').html("");
                $('#search_result').append(data);
                
            },
            error: function (err) {// lỗi
                if (err.responseText)
                    alert(err.responseText);
                else {
                    $('#search_result').html('');
                    alert('Không tìm thấy kết quả');
                }
            }
        });
    }
</script>